body{
   background-color: #1D4221;
   color: rgb(105, 27, 86);
   font-family: "Bitcount Grid Double", system-ui;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 700px;
   margin: 0;
}

button {
    background-color: #64A712;
color: rgb(167, 84, 84);
font-family: "Bitcount Grid Double", system-ui;
}

.passo{
    display: none;
}

.passo.ativo{
    display:block;
}