body{
   background-color: azul indigo; 
   color: rgb(27, 25, 25);
   font-family: "Bitcount Grid Double", system-ui;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 700px;
   margin: 0;
}

button {
    background-color: rgb(219, 204, 204);
color:rgb(20, 16, 16);
font-family: "Bitcount Grid Double", system-ui;
}

.passo{
    display: none;
}

.passo.ativo{
    display:block;
}